<form class="mb-4">
  <div class="mb-2">
    <label>
      Name:
      <input class="border rounded px-2 py-1 ml-2" [field]="form.name" />
    </label>
    @if (form.name().errors().length > 0) {
      <p>{{ form.name().errors()[0].message }}</p>
    }
  </div>

  <div class="mb-2">
    <label>
      Email:
      <input class="border rounded px-2 py-1 ml-2" [field]="form.email" />
    </label>
    @if (form.email().errors().length > 0) {
      <p>{{ form.email().errors()[0].message }}</p>
    }
  </div>

  <button class="bg-primary" type="button" (click)="onSubmit()" [disabled]="!form().valid()">
    Submit
  </button>
</form>

<div class="border rounded p-4">
  <h2>Form Values:</h2>
  <pre class="bg-gray-100 p-2 rounded">{{ form().value() | json }}</pre>
  <p>Valid: {{ form().valid() }}</p>
</div>
